modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://dmbnsvghqluajdvdsmvu.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtYm5zdmdocWx1YWpkdmRzbXZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAxNDMxNTMsImV4cCI6MjA4NTcxOTE1M30.inNKGD8H3AEbYENVE8eyX64YkbK7r4ruG4xQXTFGoQw"
CLEENG_SANDBOX = "true"
